body {
	margin: 0;
	padding: 0;
	background: url(fondo.png) no-repeat center top;
	background-size: cover;
	font-family: Arial, sans-serif;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.form-container {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container table {
	width: 100%;
	max-width: 400px;
	border-collapse: collapse;
	margin: 0 auto;
}
.form-container td {
	padding: 10px;
	text-align: left;
}
.form-container input[type="text"],
.form-container input[type="password"] {
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 2px solid #353A46;
	background: transparent;
	font-size: 16px;
	box-sizing: border-box;
}
.form-container input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #1C94C8;
	color: white;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
	transition: background-color 0.3s;
}
.form-container input[type="submit"]:hover {
	background-color: #136A8A;
}
.form-container a {
	font-size: 14px;
	color: #1C94C8;
	text-decoration: none;
}
.form-container a:hover {
	text-decoration: underline;
}
.logovai img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #1C94C8;
	border: 3px solid #1C94C8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}